<html lang="ja" >
  <head>
    <meta charaset="utf-8">
    <title> <%= @title%> </title>
  </head>
  <body>
    <h1> Hello, <%=@World%>  </h1>
      <table>
        <tr>
          <th>student_id</th>
          <th>name</th>
        </tr>
        <form  action="judge" method="post">
          <tr>
            <td>  <input type="text" name="student_id" > </td>
            <td>  <input type="text" name="name" > </td>
            <td>  <input type="submit" value="ログイン" > </td>
          </tr>
        </form>
      </table>
    </body>
</html>
